/* body {
    margin: 0;
    padding: 0;
    display: flex;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    background-color: antiquewhite;
    height: 52em;
    width:75em;
    top: 0%;

}
a{
    margin:1px;
    padding: 1px;
    float: right;
} */